/* ==========================================================================
   DEFAULT THEME
   ========================================================================== */

/* New professional color palette */
$text-dark:      #353535; // 1. Main text
$accent-teal:    #3C6E71; // 2. Secondary accent
$bg-white:       #FFFFFF; // 3. Background
$border-gray:    #D9D9D9; // 4. Border / Secondary BG
$link-blue:      #284B63; // 5. Main link/accent

/* Font stacks */
$serif-font-family: "Lora", serif;
$sans-serif-font-family: "Montserrat", sans-serif;

/* Color codes used for the site */
$danger-color               : #ee5f5b;
$info-color                 : $link-blue;
$notice-color               : $accent-teal;
$success-color              : #62c462;
$warning-color              : #f89406;

/* Other basic settings for the template */
$border-radius              : 4px;
$box-shadow                 : 0 1px 1px rgba(0, 0, 0, 0.125);
$global-transition          : all 0.2s ease-in-out;
$masthead-height            : 70px;
$navicon-width              : 28px;
$navicon-height             : 4px;
$sidebar-link-max-width     : 250px;
$sidebar-screen-min-width   : 1024px;

/* Default light theme for the site */
:root {
    --global-base-color                 : #{$text-dark};
    --global-bg-color                   : #{$bg-white};
    --global-footer-bg-color            : mix(#000, #{$bg-white}, 5%); // a very light gray
    --global-border-color               : #{$border-gray};
    --global-dark-border-color          : mix(#000, #{$border-gray}, 40%);
    --global-code-background-color      : mix(#000, #{$bg-white}, 5%);
    --global-code-text-color            : mix(#000, #{$text-dark}, 80%);
    --global-fig-caption-color          : mix(#fff,  #{$text-dark}, 20%);
    --global-link-color                 : #{$link-blue};
    --global-link-color-hover           : mix(#000, #{$link-blue}, 25%);
    --global-link-color-visited         : mix(#fff, #{$link-blue}, 25%);  
    --global-masthead-link-color        : #{$text-dark};
    --global-masthead-link-color-hover  : #{$link-blue};    
    --global-text-color                 : #{$text-dark};
    --global-text-color-light           : mix(#fff, #{$text-dark}, 35%);
    --global-thead-color                : #{$border-gray};

    /* Typography */
    --global-font-family                : #{$serif-font-family};
    --global-heading-font-family        : #{$sans-serif-font-family};
}